<div class="buttons-holder">
    <a href="/add-appointments" class="button">New Appointment</a><br>
    <a href="/update-appointments" class="button">Update Appointment</a><br>
    <a href="/delete-appointments" class="button">Delete Appointment</a><br>
    <!--<a href="/" class="button">Clinic Stats</a>-->
</div>