{{> header}}
{{> sidebar}}
<div class="form-holder">
    <h2>Delete Appointment</h2>
    <br>
    <form>
        <label for="appointmentID">Appointment ID:</label>
        <input type="text" id="appointmentID" placeholder="Appointment ID" required><br>
        <input type="submit" value="Delete">
    </form>
</div>
<script src="/js/delete-appointments.js"></script>