{{> header}}
{{> sidebar}}
<div class="form-holder">
    <h2>Delete Appointment</h2>
    <br>
    <form>
        <label for="appointmentID">Appointment ID:</label>
        <input type="text" id="appointmentID" placeholder="Appointment ID" required><br>
        <input type="submit" value="Find">
    </form> <br>
    <a href="" class="button">Delete</a><br>
</div>
<script src="/js/delete-appointments.hbs"></script>