{{> header}}
{{> sidebar}}
<div class="search-holder">
    <form>
        <label for="appointmentID">Search by Appointment ID:</label><br>
        <input type="text" id="appointmentID" placeholder="Appointment ID">
        <input type="submit" value="Search">
    </form>
    <div class="appointment-container">Appointment Details</div>
</div>
<script src="/js/get-appointments.js"></script>