<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header-holder">
    <h1><a href="index.html" class="site-name">Appointment Management</a></h1>
</div>

<div class="buttons-holder">
    <a href="appointment-new.html" class="button">New Appointment</a><br>
    <a href="appointment-update.html" class="button">Update Appointment</a><br>
    <a href="appointment-delete.html" class="button">Delete Appointment</a><br>
    <a href="clinic-appointments.html" class="button">Clinic Stats</a>
</div>

<div class="search-holder">
    <form>
        <label for="appointmentID">Search by Appointment ID:</label><br>
        <input type="text" id="appointmentID" placeholder="Appointment ID">
        <input type="submit" value="Search">
    </form>
</div>
</body>
</html>